@font-face{
    font-family: RobotoCondensed;
    src: url(assets/roboto-condensed.light.ttf);
    font-weight: 800;
}

@font-face{
    font-family: EconomicaBold;
    src: url(assets/economica-bold.ttf);
}

body{
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    font-family: 'RobotoCondensed';
}

h1, h2, h3, h4, h5{
    font-family: 'EconomicaBold';
}

/* button class btnclick start */

.btnClick{
  background:#888888;
  color:#fff;
  border:none;
  position:relative;
  width: 135px;
  height: 40px;
  font-size: 0.8em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.btnClick:hover{
  background:#fff;
  color:#888888;
}
.btnClick:before, .btnClick:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #888888;
  transition:400ms ease all;
}
.btnClick:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btnClick:hover:before, .btnClick:hover:after{
  width:100%;
  transition:800ms ease all;
}

/* button ends */


/* Tracks CSS */

.track{
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

.track-image{
  width: 250px;
  height: 250px;
}

.track-text{
  position: absolute;
  width: 250px;
  bottom: 0px;
  background-color: #000;
  color: #fff;
  padding: 5px;
}

.track-icon{
  position: absolute;
  bottom: 100px;
  left: 100px;
  color: #fff;
  background-color: #000;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 10px;
  opacity: 0.8;
}